<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Added JSON</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <a class="active" href="{{ url_for('index') }}">Home</a>
        <a href = "{{ url_for('select_by_category') }}">Category</a>
        <a href="{{ url_for('select_by_date') }}">Date</a>
        <a href="{{ url_for('expense_json_loader') }}">JSON loader</a>
    </div>

<div class="content">
    <h1>Last set of entries added from the JSON file.</h1>
    <button  id="submitButton" type="button" >Add Tag(s)</button>
    <div class="add_json_tag">
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
    {% endwith %}
    </div>

    <table>
        <thead>
            <tr>
                <th>Expenses ID</th>
                <th>Transaction Date</th>
                <th>Description</th>
                <th>Price</th>
                <th>Tag</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{ item['expense_id'] }}</td>
                <td>{{ item['transaction_date'] }}</td>
                <td>{{ item['description'] }}</td>
                <td>{{ item['price'] }}</td>
                <td>
                <form class="tagForm" id="myForm" action="/present_or_add_tag" method="POST">
                    <input  type="text" name="tag" aria-hidden="true" maxlength="25">
                </form>
                </td>
            </tr>
            {% endfor %}
        </thead>
    </table>
</div>
<script>

document.getElementById('submitButton').addEventListener('click', function() {
            // Create a new form
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/present_or_add_tag';

            // Get all inputs with the name 'tag'
            var inputs = document.querySelectorAll('input[name="tag"]');
            inputs.forEach(function(input) {
                // Clone the input and add it to the form
                var clonedInput = input.cloneNode();
                form.appendChild(clonedInput);
            });

            // Append the form to the body and submit it
            document.body.appendChild(form);
            form.submit();
        });


</script>
</body>
</html>