<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Query by Time</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="sidebar">
        <a class="active" href="{{ url_for('index') }}">Home</a>
        <a href = "{{ url_for('select_by_category') }}">Category</a>
        <a href="{{ url_for('select_by_date') }}">Date</a>
        <a href="#example">Example</a>
</div>
<h1>Select the entries by category.</h1>
    <form method="POST" action="{{ url_for('select_by_category') }}">
        <select id="category" name="category" required>
            {% for category in categories %}
                <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Expenses ID</th>
                <th>Transaction Date</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category ID</th>
            </tr>
            {% for item in results %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
            </tr>
            {% endfor %}
        </thead>
    </table>
</body>
</html>