<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <button onclick="location.href='{{ url_for('add_expenses') }}'">Go to Add Expenses Page</button>
    <div class="sidebar">
        <a class="active" href="{{ url_for('index') }}">Home</a>
        <a href = "{{ url_for('select_by_category') }}">Category</a>
        <a href="{{ url_for('select_by_date') }}">Date</a>
        <a href="#example">Example</a>
    </div>
</body>
</html>
