<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>JSON loader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <a class="active" href="{{ url_for('index') }}">Home</a>
        <a href = "{{ url_for('select_by_category') }}">Category</a>
        <a href="{{ url_for('select_by_date') }}">Date</a>
        <a href="{{ url_for('expense_json_loader') }}">JSON loader</a>
    </div>
    <form enctype="multipart/form-data" action="{{ url_for('expense_json_loader') }}" method="post" >
      <label for="jsonFile">Upload JSON file:</label>
      <input content="application/json" type="file" id="jsonFile" name="jsonFile" accept=".json" required>
      <button type="submit">Upload</button>
    </form>

</body>
</html>